<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Customer Feedback Management</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div>
            <h1>Management Login Here!</h1>
            <form action="/management/login" method="POST">
                <input type="email" name="customerEmail" placeholder="Email">
                <input type="password" name="customerPass" placeholder="Password">
                <button>Submit!</button>
            </form>
            <br>
            <h1>Management Register Here</h1>
            <form action="/management/register" method="POST">
                <input type="email" name="ManagerEmail" placeholder="Email">
                <input type="password" name="ManagerPass" placeholder="Password">
                <button>Submit!</button>
            </form>
        </div>
    
    </body>
</html>